<!DOCTYPE html>
<html lang="en" ng-app="P">
<head>
	<script src="lib/jquery.js"></script>
	<meta charset="utf-8">
	<title>Pokemon GT</title>
	<link rel="stylesheet" href="lib/boo/css/bootstrap.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="icon" href="images/icon.png"/>
</head>
<body  class="cuerpo" ng-controller="Pokemon">

	<div class="containerd">
		<div class="row">
			<div class="col-md-5"><img src="images/write.png" class="images"></div>
			<div class="col-md-3"><input type="text" ng-model="buscar" placeholder="Buscar Pokemon"></div>
			<div class="col-md-2"><a href="templeates/login.html"><input type="button" value="Sign Out"></a></div>
		</div>
	</div>

	<!--<header>
		<nav>
			<ul>
				<li><img src="images/write.png" class="img-respomsive"></li>
				<li><a href="templeates/login.html">Long it</a></li>
			</ul>
		</nav>
	</header>-->
	
 	<div class="container">
 		<div class="row ">
 			<div class="col-md-4" ng-repeat="y in ListadoPokemon | filter:buscar">
				<div class="cuadro">
		
					<img src="{{y.data.sprites.front_default}}">
					<div class="na">
					<span>{{y.data.name}} NO: {{ y.data.id }} </span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="lib/angular.js"></script>
	<script src="lib/boo/js/bootstrap.js"></script>
	<script src="js/script.js"></script>

</body>
</html>